<div class="center jumbotron">
  <h1>SELENIUM BLOG</h1>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-xlarge" %>
  <br />
  <br />
  <%= link_to "Sign up now", signup_path , class: "btn btn-lg btn-xlarge" %>
</div>
